 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;400;700&display=swap');

.navbar{
    display: flex;
    padding: 2px 5px ;
    box-shadow: 2px 2px rgba(14, 11, 11, 0.2);
    align-items: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
   

}
.logo-container{
    margin-right:auto;
    padding: 0;
    
}

.navbar-buttons{
    display: flex;
    
}


.logo{
    max-width: 100px;
    max-height: 50px;
    margin-bottom: 0px;
  
}

.logo-text{

    color: #32de84;
    font-family: Cedarville Cursive;
    margin: 0;
    font-weight: 700;


}

.btn{
    margin: 0px 20px;
    border-style: none;
    border-radius: 2px;
    background-color: #32de84;
    width: 80px;
    height: 50px;
    border-radius: 10px;
     font-size: 19px;
     box-shadow: 3px 3px #34f893;
     transition: color, box-shadow 0.5s ;


    
}

.btn:hover{
    color: #ffffff;
    box-shadow: 3px 3px #38ad71;
}





.hamburger-menu {
    width: 20px;
    height:20px;
    padding: 0;
    margin: 0;
}

.quote-container{
    margin-top: 4px;
    display: flex;
    flex: wrap;
    border-style:solid;
    border-radius: 10px;

}

.quote-img{
    width: 100%;
   max-height: 580px;
   
    position: relative;
}

.garden-quote{
    position: absolute;
    margin: 75px 100px;
    max-width: 700px;
    height:320px;
    border-style: none;
    border-radius: 25px;
    
    background-color: rgba(39, 181, 224, 0.3);;
   
}

.quote-text{
    font-weight: 1000;
    font-size: 35px;
    opacity: 1;
    color:rgb(176, 236, 136);
    padding-left: 10px;
    mix-blend-mode:color-dodge;
    letter-spacing: 1px ;
     line-height: 50px;
    align-self: center;

    

}

.subscribe-btn{
   margin: 20px 250px;
    border-style: none;
    border-radius: 2px;
    background-color: #32de84;
    width: 200px;
    height: 50px;
    border-radius: 10px;
     font-size: 19px;
     box-shadow: 3px 3px #38ad71;
   
     transition: color, box-shadow 0.8s ;

}



.subscribe-btn:hover{
    color: #ffffff;
   
    box-shadow: 3px 3px #34f893;
}