 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@300;400;700&display=swap');

.navbar{
    display: flex;
    padding: 2px 5px ;
    box-shadow: 2px 2px rgba(14, 11, 11, 0.2);
    align-items: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    margin-bottom:5px;

}
.logo-container{
    margin-right:auto;
    padding: 0;
    
}

.navbar-buttons{
    display: flex;
    
}


.logo{
    max-width: 100px;
    max-height: 50px;
    margin-bottom: 0px;
  
}

.logo-text{

    color: #0d4c2b;
    font-family: Cedarville Cursive;
    margin: 0;
    font-weight: 700;


}

.btn{
    margin: 0px 20px;
    border-style: none;
    border-radius: 2px;
    background-image: linear-gradient( 180.5deg,  rgba(46,255,171,1) 12.3%, rgba(19, 85, 38, 0.46) 92% );
    width: 80px;
    height: 50px;
    border-radius: 10px;
     font-size: 19px;
     box-shadow: 3px 3px #133f29;
     transition: color, box-shadow 0.5s ;


    
}

.btn:hover{
    color: #ffffff;
    box-shadow: 3px 3px #38ad71;
}





.hamburger-menu {
    width: 20px;
    height:20px;
    padding: 0;
    margin: 0;
}

.quote-container{
  background-image: url(./imgs/background1.avif);
  background-size: cover;
  padding:80px 150px;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  




}





.quote-text{
    font-weight: bolder;
    font-size: 45px;
    margin: 5px;
    width: 750px;
    letter-spacing: 1px ;
    color:#ffffff;
    line-height: 80px;
  
   

}

.subscribe-btn{
   margin: 20px 250px;
    border-style: none;
    border-radius: 2px;
    background-image: linear-gradient( 180.5deg,  rgba(46,255,171,1) 12.3%, rgba(6, 52, 23, 0.46) 92% );
    width: 200px;
    height: 80px;
    border-radius: 10px;
     font-size: 19px;
     box-shadow: 2px 2px #26754d;
     color: #010916;
     transition: color, box-shadow 0.9s ;

}



.subscribe-btn:hover{
    color: #ffffff;
   
    box-shadow: 3px 3px #26965c;
}