.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px rgba(1,1,1, 0.5);
    padding: 10px ;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    display: flex;
    margin-right: 75px;
    margin-right: 35px;
    flex: 1;
}

.right-section{
    display: flex;
    
    justify-content: space-between;
}
.search-bar{
    
}

.search-img{
    height: 40px;
}


