.login{
    background-color: rgba(134,134,217,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    place-items: center;
    z-index: 2000;
   
}

.login-container{
    height: 50%;
    width: 40%;
    margin:0px auto;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    
   
    

}

input{
   width:90%;
}



.close{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(134,134,217,0.2) ;
    padding: 5px;
    width: 10px;
    height: 10px;
    border-radius:10px ;
    display: flex;
    place-items: center;
}

.close:hover{
    background-color: rgba(255, 64, 0, 0.8) ;
}
    

.close-link{
    color: rgb(36, 30, 23);
    margin:0px auto;
    text-decoration: none;
    
}

.login button{
    padding: 10px;
    background-color: rgba(134, 134, 217, 0.5);
    border-color: aliceblue;
    border-style: none;
}
