.card-container{
    margin:15px 20px;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgba(134, 134, 217, 0.5);
    width: 250px;
    height: 300px;
   
    
}



.card-container:hover{
    box-shadow: 2px 2px 2px 2px rgba(94, 94, 191, 0.5);
}


.card-container img{
     border-radius: 50%;
     align-self: center;
}

.card-container button{

   padding: 10px;
   margin-left: auto;
   background-color: rgba(134, 134, 217, 0.5);
   border-color: aliceblue;
   border-style: none;
}

button:hover{
    box-shadow:2px 2px rgba(94, 94, 191, 0.5); 
}

